## 0. Cities in Sweden

In [223]:
import pandas as pd

df_cities = pd.DataFrame({"Kommun": ["Malmö", "Stockholm", "Uppsala", "Göteborg"], "Population": [347949, 975551, 233839, 583056]}, index=range(4))
df_cities

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

### a)

In [224]:
for c in df_cities["Kommun"]:
    print(c)

Malmö
Stockholm
Uppsala
Göteborg

### b)

In [225]:
df_cities[df_cities["Kommun"] == "Göteborg"]

     Kommun  Population
3  Göteborg      583056

### c)

In [226]:
df_cities.sort_values("Population", ascending=False)

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949
2    Uppsala      233839

### d)

In [236]:
df_cities.sort_values("Population", ascending=False)[:3]

      Kommun  Population  Population %
1  Stockholm      975551          9.40
3   Göteborg      583056          5.62
0      Malmö      347949          3.35

### e)

In [228]:
swe_pop = 10379295

df_cities["Population %"] = [round((p/swe_pop)*100, 2) for p in df_cities["Population"]]

df_cities

      Kommun  Population  Population %
0      Malmö      347949          3.35
1  Stockholm      975551          9.40
2    Uppsala      233839          2.25
3   Göteborg      583056          5.62

## 1. Cities in Sweden

In [229]:
df_big_cities = pd.read_excel("../data/komtopp50_2020.xlsx", sheet_name="Totalt", skiprows=6)
df_big_cities.head()

   2020  2019 Unnamed: 2  2020.1  2019.1         %
0    83    84        Ale   31868   31402  1.483982
1    64    64   Alingsås   41602   41420  0.439401
2   123   123    Alvesta   20224   20134  0.447005
3   255   255      Aneby    6821    6848 -0.394276
4   169   167     Arboga   14039   14087 -0.340740

In [230]:
df_big_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   2020        290 non-null    int64
 1   2019        290 non-null    int64
 2   Unnamed: 2  290 non-null    object
 3   2020.1      290 non-null    int64
 4   2019.1      290 non-null    int64
 5   %           290 non-null    float64
dtypes: float64(1), int64(4), object(1)
memory usage: 13.7+ KB

In [232]:
df_big_cities.columns=["Rang 2020", "Rang 2019", "Kommun", "Folkmängd 2020", "Folkmängd 2019", "Förändring"]
df_big_cities.head()

   Rang 2020  Rang 2019    Kommun  Folkmängd 2020  Folkmängd 2019  Förändring
0         83         84       Ale           31868           31402    1.483982
1         64         64  Alingsås           41602           41420    0.439401
2        123        123   Alvesta           20224           20134    0.447005
3        255        255     Aneby            6821            6848   -0.394276
4        169        167    Arboga           14039           14087   -0.340740

In [233]:
df_big_cities.sort_values("Rang 2020")

,Rang 2020,Rang 2019,Kommun,Folkmängd 2020,Folkmängd 2019,Förändring
198,1,1,Stockholm,975551,974073,0.151734
57,2,2,Göteborg,583056,579281,0.651670
134,3,3,Malmö,347949,344166,1.099179
241,4,4,Uppsala,233839,230767,1.331213
124,5,5,Linköping,164616,163051,0.959822
...,...,...,...,...,...,...
271,286,286,Åsele,2805,2794,0.393701
5,287,287,Arjeplog,2718,2785,-2.405745
29,288,288,Dorotea,2498,2551,-2.077617
194,289,289,Sorsele,2442,2489,-1.888309
12,290,290,Bjurholm,2387,2408,-0.872093

In [237]:
df_big_cities.sort_values("Rang 2020", ascending=False)[:5]

,Rang 2020,Rang 2019,Kommun,Folkmängd 2020,Folkmängd 2019,Förändring
12,290,290,Bjurholm,2387,2408,-0.872093
194,289,289,Sorsele,2442,2489,-1.888309
29,288,288,Dorotea,2498,2551,-2.077617
5,287,287,Arjeplog,2718,2785,-2.405745
271,286,286,Åsele,2805,2794,0.393701